@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, monospace;
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    line-height: 1;
}

h2 {
    font-size: clamp(1rem, 5vw, 1.5rem);
    line-height: 1;
}

h3 {
    font-size: clamp(1rem, 5vw, 1.25rem);
    line-height: 1;
}

h4 {
    font-size: clamp(1rem, 5vw, 1.12rem);
    line-height: 1;
}

p {
    font-size: clamp(0.875rem, 5vw, 1rem);
}


@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --color-background: var(--background);
    --color-panel: var(--panel);
    --color-card: var(--card);

    --color-text: var(--text);
    --color-text-secondary: var(--text-secondary);

    --color-primary: oklch(53.837% 0.25322 294.09);
    --color-accent: oklch(74.77% 0.16379 48.583);
    --color-warning: oklch(54.398% 0.21819 28.722);
    --color-border: oklch(92.8% 0.006 264.531);
}

:root {
    --background: oklch(96.02% 0.00353 248.565);
    --panel: oklch(98.686% 0.0026 230.456);
    --card: oklch(100% 0.00011 271.152);
    --text: oklch(15.513% 0.0087 274.277);
    --text-secondary: oklch(51.48% 0.00691 240.179);
}

.dark {
    --background: oklch(24.116% 0.01777 255.725);
    --panel: oklch(27.031% 0.01727 255.705);
    --card: oklch(24.116% 0.01777 255.725);
    --text: oklch(0.9602 0.0034 247.86);
    --text-secondary: oklch(66.617% 0.00922 236.907);
}